.page h1 {
	font-size: 2.8rem;
}

.page h2 {
	font-size: 2.4rem;
}

.page h3 {
	font-size: 2.0rem;
}

.page h4 {
	font-size: 1.6rem;
}

body>header {
	xposition: static;
}

body>header .logo-type {
	font-size: 2.2em;
}

.section-icon {
	position: static;
	left: 0;
	height: auto;
	margin-bottom: 10px;
	display: none;
}

.narrow {
	max-width: inherit;
}

body>footer .logo {
	margin-right: 10px;
}

body>footer .logo-type {
	font-size: 1.6em;
}

/* HACK */
body>.free-apps p {
	max-width: 100%;
}
