.object-form {
	
}

.object-form .caption {
	background-color: #cdf3f6;
	background: radial-gradient(circle at 30% 50%, #FFFFFF, #41b5bd);
	border-bottom: solid 1px #C4E0E0;
}

.object-form fieldset {
	padding: 20px 0;
	margin-top: 20px;
}

.object-form fieldset .content {
	margin-top: 30px;
	padding: 30px 0;
	background: radial-gradient(circle at 30% 50%, #FFFFFF, #2d9a27);
}

.object-form label {
	display: inline-block;
	width: 200px;
	font-size: 18px;
}

.object-form input {
	display: inline-block;
	width: 600px;
	xborder:solid 1px #76be76;
	padding: 10px;
}

.object-form input.mini {
	width: 380px;
	margin-right: 20px;
}

.object-form input.large {
	width: 800px;
	max-width: 800px;
}

.object-form textarea {
	width: 820px;
	height: 400px;
	max-width: 1100px;
	min-height: 200px;
	border: solid 1px #76be76;
	overflow:auto;
	padding: 10px;
}

.object-form textarea.mini {
	height: 100px;
	min-height: 100px;
}

.object-form  .actions {
	margin-top: 40px;
	padding-top: 10px;
	border-top: solid 1px #BBDEFB;
}

.object-form  .actions img {
	width: 48px;
	margin-right: 20px;
	opacity: 0.2;
	cursor: pointer;
}

.object-form  .actions img.last {
	float: right;
}

.object-form  .actions img:hover {
	opacity: 0.6;
}

.object-form  .actions img[name='add'] {
	display: inline-block;
}

.object-form .graphic-asset {
	height: 96px;
	margin-right: 20px;
	padding: 1px;
	border: solid 1px #BBDEFB;
}

.object-form .actions.dev img {
	display: inline-block;
}

.header p {
	display: none;
}