.references {
	box-sizing: border-box;
	padding: 50px 0;
}

.references dl {
	display: inline-block;
	float: left;
	margin: 0 0 0 30px;
}

.references dl:first-child {
	margin-left: 0;
}

.references dl:first-child {
	margin-left: 0;
}

.references dl dt {
	margin-bottom: 10px;
	font-size: 18px;
	text-transform: uppercase;
	cursor: default;
	border-bottom: solid 1px #D8D8D8;
}

.references dl dd {
	margin-bottom: 4px;
	transition: .6s ease-in-out;
}

.references dl dd * {
	font-size: 14px;
}

.references dl.right {
	float: right;
}

.references dl.right a {
	color: #49B6B6;
}

.references dl.right a:hover {
	color: #000000;
}
@media screen and (max-width : 768px) {

.references {
}

.references dl {
	display: block;
	float: none;
	margin-top: 30px;
	margin-left: 0;
}

.references dl:first-child {
	margin-top: 0;
}

.references dl.right {
	float: none;
}

.references dl dd {
	margin-bottom: 10px;
}

}
