.no-ads-manifest .caption {
	background-color: #cdf3f6;
	background: radial-gradient(circle at 30% 50%, #FFFFFF, #41b5bd);
}

.no-ads-manifest h2 {
	margin: 40px 0 20px 0;
	text-transform: lowercase;
	color: green;
}

.no-ads-manifest .page-section h2 {
	margin: 0;
}

.no-ads-manifest .right {
	padding-left: 300px;
}

.no-ads-manifest .slogan {
	background-color: #e8ecfe;
	background: radial-gradient(circle at 30% 50%, #FFFFFF, #a9b8f7);
}

.no-ads-manifest .solution {
	background-color: #c9f1c6;
	background: radial-gradient(circle at 30% 50%, #FFFFFF, #2d9a27);
}

.no-ads-manifest .captcha {
	margin-top: 70px;
}
@media screen and (max-width : 768px) {

.no-ads-manifest .right {
	padding-left: 100px;
}

}

@media screen and (max-width : 560px) {

.no-ads-manifest .right {
	padding-left: 0;
}

}
