::-webkit-input-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

/* put standard placeholder syntax after proprietary */
:placeholder-shown { 
  color: black;
}

form {
	xmargin-bottom: 40px;
}

form textarea {
	width: 90%;
	max-width: 700px;
	height: 22px;
	overflow: hidden; 
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 22px;
	background: 0;
	border-bottom: solid 1px #76be76;
	xborder-left: solid 1px #E6E6E6;
	resize: none;
	margin-top: 20px;
	padding-left: 0;
}

form input {
	display: block;
	border: 0;
	background: 0;
	border-bottom: solid 1px #76be76;
	width: 90%;
	max-width: 700px;
	padding: 10px 0;
	line-height: 22px;
	font-size: 18px;
	margin-top: 20px;
}

form input[disabled] {
	color: green;
}
