<body id="body" class="page no-select" xmlns:w="js-lib.com/wood">
	<header data-class="com.kidscademy.PageHeader">
		<a href="index.htm"><img src="@image/logo-red" class="logo" /><span class="logo-type">@string/site-name</span></a>
		<div class="top-menu-button">
			<span></span><span></span><span></span><span></span>
		</div>
		<nav class="top-menu">
			<ul>
				<li class="apps-action"><a href="search.htm">@string/search</a></li>
				<li class="fables-action"><a href="export.htm">@string/export</a></li>
				<li class="feedback-action"><a href="feedback.htm">@string/feedback</a></li>
				<li class="about-action"><a href="about.htm">@string/about</a></li>
				<li class="no-ads-action"><a href="no-ads-manifest.htm">@string/no-ads</a></li>
				<li></li>
			</ul>
		</nav>
	</header>
	
	<section class="body">
		<div w:editable="body" class="body-container"></div>
	</section>
</body>