<body class="page no-select" xmlns:w="js-lib.com/wood">
	<header data-class="com.kidscademy.PageHeader">
		<a href="index.htm"><img src="@image/logo-red" class="logo" /><span class="logo-type">@string/site-name</span></a>
		<nav class="top-menu">
			<a href="@link/admin-collection">@string/collection</a><a href="@link/admin-media">@string/media</a><a href="@link/admin-account">@string/account</a><a href="">@string/logout</a>
		</nav>
		<img src="/media/home/iulian/icon.png" class="developer" />
	</header>

	<section class="flex-content">
		<div w:editable="side-bar" class="side-bar"></div>
		<div w:editable="body" class="body"></div>
	</section>
</body>