.sys-message {
	position: fixed;
	display: block;
	width: 100%;
	z-index: var(--max-z-index);
	height: var(--sys-message-height);
	background-color: var(--sys-message-bg-color);
	border-bottom: solid 1px var(--sys-message-border-color);
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition: all 0.5s;
}

.sys-message.success {
	background-color: var(--success-bg-color);
}

.sys-message.info {
	background-color: var(--info-bg-color);
}

.sys-message.warning {
	background-color: var(--warning-bg-color);
}

.sys-message.danger {
	background-color: var(--danger-bg-color);
}

.sys-message.visible {
	max-height: var(--sys-message-height);
	opacity: 0.9;
}

.sys-message .content {
	white-space: nowrap;
	overflow: hidden;
}

.sys-message .close {
	display: inline-block;
	box-sizing: border-box;
	width: var(--sys-message-height);
	height: var(--sys-message-height);
	line-height: var(--sys-message-height);
	text-align: center;
	font-size: 4.6em;
	margin: 0 20px 0 0;
	cursor: pointer;
	color: #D0D0D0;
	background-color: rgba(0, 0, 0, 0.2);
}

.sys-message.active {
	max-height: var(--sys-message-height);
	opacity: 0.9;
}

.sys-message .message {
	display: inline-block;
	height: var(--sys-message-height);
	line-height: var(--sys-message-height);
	font-size: 2.2em;
	color: var(--sys-message-text-color);
	vertical-align: top;
	color: #000;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}
