.object-form {
}

.object-form .form {
	width: 100%;
}

.object-form.side-bar {
}

.object-form.side-bar .side-name {
	height: 48px;
	line-height: 48px;
	margin: 0;
	padding-left: 10px;
	xbackground-color: @color/blue-100;
	border-bottom: solid 1px @color/border-muted;
	font-size: 1.8rem;
	color: black;
}

.object-form.side-bar .developers {
	padding: 10px;
	border-bottom: solid 1px @color/border-muted;
}

.object-form.side-bar .developers img {
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.header p {
	display: none;
}

.object-form .list-view.related {
	min-height: 120px;
}

.object-form .buttons-bar {
	margin: 20px 0;
}