a[href='community.htm'] {
	border-color: green;
}

.community h2 {
	text-transform: uppercase;	
}

.community .caption {
	background-color: #E8E8E8;
	border-bottom: solid 1px #D0D0D0;
	background: radial-gradient(circle at 30% 50%, #FFFFFF, #41b5bd);
}

.login-section {
	box-sizing: border-box;
	width: 100%;
	padding: var(--section-padding) 0 var(--section-padding) 0;
}

.community .collapsible {
	background-color: #b8e3e7;
	border-bottom: solid 1px #E6E6E6;
	padding: 30px 0;
	background: radial-gradient(circle at 30% 50%, #FFFFFF, #41b5bd);
}

.community .head span:first-child {
	display: inline-block;
	width: 300px;
	color: #18527c;
}

.collapsible .head .expand-icon {
	float: right;
	height: 32px;
	vertical-align: middle;
	margin-left: 40px;
	cursor: pointer;
	transition: transform 250ms linear;
	transform: rotate(-90deg);
}

.collapsible.collapsed .head .expand-icon {
	transform: rotate(90deg);
}
