.icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: rgba(40, 100, 40, 0.8);
	background-size: 32px 32px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon.hidden {
	display: none !important;
}

.icon.menu {
	background-image: url(@image/icon/menu);
}

.icon.close {
	background-image: url(@image/icon/close);
}

.icon.play {
	background-image: url(@image/icon/play);
}

.icon.pause {
	background-image: url(@image/icon/pause);
}

.icon.stop {
	background-image: url(@image/icon/stop);
}

.icon.collapse {
	background-image: url(@image/icon/collapse);
}

.icon.expand {
	background-image: url(@image/icon/expand);
}

.icon.plus {
	background-image: url(@image/icon/plus);
}

.icon.minus {
	background-image: url(@image/icon/minus);
}

.icon.share {
	background-image: url(@image/icon/share);
	background-size: 38px 38px;
}

.icon.facebook {
	background-color: rgba(53, 88, 158, 0.8);
	background-image: url(@image/icon/facebook);
}

.icon.twitter {
	background-color: rgba(00, 171, 241, 0.8);
	background-image: url(@image/icon/twitter);
}

.icon.email {
	background-image: url(@image/icon/email);
	background-size: 38px 38px;
}

.icon.tiles {
	background-image: url(@image/icon/tiles);
}

.icon.list {
	background-image: url(@image/icon/list);
}

.icon.grid {
	background-image: url(@image/icon/grid);
}

.icon.large-grid {
	background-image: url(@image/icon/large-grid);
}

.icon.search {
	background-image: url(@image/icon/search);
}

.icon.place {
	background-image: url(@image/icon/place);
	background-size: 38px 38px;
}

.icon.link {
	background-image: url(@image/icon/link);
}
