.actions {
	margin-top: 40px;
	padding-top: 10px;
	border-top: solid 1px white;
}

.actions img {
	display: inline-block;
	width: var(--action-icon-size);
	height: var(--action-icon-size);
	margin-right: var(--action-margin);
	border: solid 1px var(--border-color);
	background-color: white;
	opacity: 0.2;
	cursor: pointer;
}

.actions img:hover {
	opacity: 0.6;
}
