li, li * {
	font-size: 1.8em;
}

li {
	margin-top: 6px;	
}

li:first-child {
	margin-top: 0;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
}

ol li {
	color: #378629;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline>li, .inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.list-inline>li.hidden, .inline>li.hidden {
	display: none;
}

/* ------------------------------------------------------------------------------------------------ */ 
/* LIST VIEW */ 

.list-view {
	
}

ul.list-view {
	list-style: none;
}

ul.list-view li {
	list-style: none;
	display: inline-block;
	width: 96px;
	margin-right: 26px;
	text-align: center;
}

ul.list-view li img {
	padding: 1px;
	border: solid 1px #E6E6E6;
	cursor: pointer;
}

ul.list-view li h3, ul.list-view li h4 {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "Roboto";
	font-size: 1.3rem;
	color: black;
}

/* ------------------------------------------------------------------------------------------------ */ 
/* SIDE MENU */ 

ul.side-menu {
	padding: 1px;
}

ul.side-menu li {
	height: var(--side-menu-item-height);
	line-height: var(--side-menu-item-height);
	padding-left: 10px;
	margin-left: 1px;
	margin-top: 1px;
	border-right: solid 4px;
	cursor: pointer;
	color: black;
}

ul.side-menu li img {
	display: inline-block;
	width: var(--side-menu-icon-size);
	height: var(--side-menu-icon-size);
	vertical-align: middle;
	margin-right: 20px;
}

ul.side-menu li .state {
	display: inline-block;
	vertical-align: middle;
	float: right;
	width: var(--side-menu-bullet-size);
	height: var(--side-menu-bullet-size);
	margin-top: 12px;
	margin-right: 10px;
	border-radius: 10px;
}

ul.side-menu li.invalid .state {
	background-color: var(--danger-color);
}

ul.side-menu li:hover {
	color: black;
}

ul.side-menu li:nth-child(1) {
	border-right-color: var(--red-300);
	background-color: var(--red-50);
}

ul.side-menu li:nth-child(2) {
	border-right-color: var(--pink-300);
	background-color: var(--pink-50);
}

ul.side-menu li:nth-child(3) {
	border-right-color: var(--purple-300);
	background-color: var(--purple-50);
}

ul.side-menu li:nth-child(4) {
	border-right-color: var(--deep-purple-300);
	background-color: var(--deep-purple-50);
}

ul.side-menu li:nth-child(5) {
	border-right-color: var(--indigo-300);
	background-color: var(--indigo-50);
}

ul.side-menu li:nth-child(6) {
	border-right-color: var(--blue-300);
	background-color: var(--blue-50);
}

ul.side-menu li:nth-child(7) {
	border-right-color: var(--light-blue-300);
	background-color: var(--light-blue-50);
}

ul.side-menu li:nth-child(8) {
	border-right-color: var(--cyan-300);
	background-color: var(--cyan-50);
}

ul.side-menu li:nth-child(9) {
	border-right-color: var(--teal-300);
	background-color: var(--teal-50);
}
