.container {
	box-sizing: border-box;
	max-width: var(--container-width);
	padding: 0 10px;
	margin: 0 auto;
}

.container::after {
	content: "";
	display: block;
	clear: both;	
}

.float-right, .rfloat {
	float: right;
}

.float-left, .lfloat {
	float: left;
}

.inline {
	display: inline-block;	
}

.inline.hidden {
	display: none;
}

hr {
	clear: both;
	background-color: #E6E6E6;
	height: 1px;
	padding: none;
	border: 0;
	margin: 0;
}
