.compo.phone-preview {
	display: block;
	width: var(--phone-width);
	height: var(--phone-height);
	box-sizing: border-box;
	padding: var(--phone-padding-top) var(--phone-padding-right) var(--phone-padding-bottom) var(--phone-padding-left);
	background-image: url(@image/phone-wire-frame);
}

.compo.phone-preview .screen {
	width: 100%;
	height: 100%;
	border: solid 1px;
	border-color: var(--border-color) var(--border-muted-color) var(--border-muted-color) var(--border-color);
	overflow: hidden;
}

.compo.phone-preview .screen .slide {
	display: inline-block;
	width: 1814px;
	height: 403px;
	xbackground-image: url(@image/apps-panorama);
	animation: phone-preview-slide 20s linear infinite alternate;
}

@keyframes phone-preview-slide {
	0% {
		transform: translateX(0);
	}
	9% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(-@eval(mul 1 @dimen/phone-screen-width));
	}
	19% {
		transform: translateX(-@eval(mul 1 @dimen/phone-screen-width));
	}
	20% {
		transform: translateX(-@eval(mul 2 @dimen/phone-screen-width));
	}
	29% {
		transform: translateX(-@eval(mul 2 @dimen/phone-screen-width));
	}
	30% {
		transform: translateX(-@eval(mul 3 @dimen/phone-screen-width));
	}
	39% {
		transform: translateX(-@eval(mul 3 @dimen/phone-screen-width));
	}
	40% {
		transform: translateX(-@eval(mul 4 @dimen/phone-screen-width));
	}
	49% {
		transform: translateX(-@eval(mul 4 @dimen/phone-screen-width));
	}
	50% {
		transform: translateX(-@eval(mul 5 @dimen/phone-screen-width));
	}
	59% {
		transform: translateX(-@eval(mul 5 @dimen/phone-screen-width));
	}
	60% {
		transform: translateX(-@eval(mul 6 @dimen/phone-screen-width));
	}
	69% {
		transform: translateX(-@eval(mul 6 @dimen/phone-screen-width));
	}
	70% {
		transform: translateX(-@eval(mul 7 @dimen/phone-screen-width));
	}
	79% {
		transform: translateX(-@eval(mul 7 @dimen/phone-screen-width));
	}
	100% {
		transform: translateX(0);
	}
}