.sys-message {
	position: fixed;
	display: block;
	width: 100%;
	z-index: @dimen/max-z-index;
	height: @dimen/sys-message-height;
	background-color: @color/sys-message-bg;
	border-bottom: solid 1px @color/sys-message-border;
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition: all 0.5s;
}

.sys-message.success {
	background-color: @color/success-bg;
}

.sys-message.info {
	background-color: @color/info-bg;
}

.sys-message.warning {
	background-color: @color/warning-bg;
}

.sys-message.danger {
	background-color: @color/danger-bg;
}

.sys-message.visible {
	max-height: @dimen/sys-message-height;
	opacity: 0.9;
}

.sys-message .content {
	white-space: nowrap;
	overflow: hidden;
}

.sys-message .close {
	display: inline-block;
	box-sizing: border-box;
	width: @dimen/sys-message-height;
	height: @dimen/sys-message-height;
	line-height: @dimen/sys-message-height;
	text-align: center;
	font-size: 4.6em;
	margin: 0 20px 0 0;
	cursor: pointer;
	color: #D0D0D0;
	background-color: rgba(0, 0, 0, 0.2);
}

.sys-message.active {
	max-height: @dimen/sys-message-height;
	opacity: 0.9;
}

.sys-message .message {
	display: inline-block;
	height: @dimen/sys-message-height;
	line-height: @dimen/sys-message-height;
	font-size: 2.2em;
	color: @color/sys-message-text;
	vertical-align: top;
	color: #000;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
