.compo.warning {
	position: relative;
	width: 0;
	height: 0;
	left: 80%;
}

.compo.warning img {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 100px;
	box-shadow: 0 0 15px #408080;
}
