<?xml version="1.0" encoding="UTF-8"?>
<app-descriptor>
	<managed-classes>
		<service-controller interface="com.kidscademy.ServiceController" class="com.kidscademy.impl.ServiceControllerImpl" />
		<site-controller interface="com.kidscademy.SiteController" class="com.kidscademy.impl.SiteControllerImpl" />
		<admin-service interface="com.kidscademy.AdminService" class="com.kidscademy.impl.AdminServiceImpl" />
		<build-manager interface="com.kidscademy.BuildManager" class="com.kidscademy.impl.BuildManagerImpl" />

		<entity-manager interface="javax.persistence.EntityManager" class="js.transaction.eclipselink.EntityManagerImpl" />
		<dao interface="com.kidscademy.dao.Dao" class="com.kidscademy.dao.DaoImpl" type="PROXY" />
		<admin-dao interface="com.kidscademy.dao.AdminDao" class="com.kidscademy.dao.AdminDaoImpl" type="PROXY" />

		<audio-processor interface="com.kidscademy.AudioProcessor" class="com.kidscademy.impl.AudioProcessorImpl" />
	</managed-classes>
	<observer period="60000" />
	<views>
		<repository path="${catalina.base}/webapps/kids-cademy/" files-pattern="*.htm" />
	</views>
	<captcha>
		<property name="captcha.repository.path" value="${captcha.repository.path}" />
		<property name="captcha.set.size" value="6" />
	</captcha>
	<emails>
		<property name="js.dev.mode" value="true" />
		<property name="js.repository.path" value="${catalina.base}/webapps/kids-cademy/email/" />
		<property name="js.files.pattern" value="*.htm" />
		<property name="js.template.engine" value="js.template.xhtml.XhtmlTemplateEngine" />
	</emails>
</app-descriptor>