<?xml version="1.0" encoding="UTF-8"?>
<app-descriptor>
	<managed-classes>
		<constants class="com.kidscademy.CT" />
		
		<service-controller interface="com.kidscademy.ServiceController" class="com.kidscademy.impl.ServiceControllerImpl" />
		<site-controller interface="com.kidscademy.SiteController" class="com.kidscademy.impl.SiteControllerImpl" />
		<admin-service interface="com.kidscademy.AdminService" class="com.kidscademy.impl.AdminServiceImpl" />
		<atlas-service interface="com.kidscademy.AtlasService" class="com.kidscademy.impl.AtlasServiceImpl" />
		<build-manager interface="com.kidscademy.BuildManager" class="com.kidscademy.impl.BuildManagerImpl" />

		<entity-manager interface="javax.persistence.EntityManager" class="js.transaction.eclipselink.EntityManagerImpl" />
		<dao interface="com.kidscademy.dao.Dao" class="com.kidscademy.dao.DaoImpl" type="PROXY" />
		<admin-dao interface="com.kidscademy.dao.AdminDao" class="com.kidscademy.dao.AdminDaoImpl" type="PROXY" />
		<atlas-dao interface="com.kidscademy.dao.AtlasDao" class="com.kidscademy.dao.AtlasDaoImpl" type="PROXY" />

		<audio-processor interface="com.kidscademy.tool.AudioProcessor" class="com.kidscademy.tool.AudioProcessorImpl" />
		<image-processor interface="com.kidscademy.tool.ImageProcessor" class="com.kidscademy.tool.ImageProcessorImpl" />
		<identify-process class="com.kidscademy.tool.IdentifyProcess" />
		<convert-process class="com.kidscademy.tool.ConvertProcess" />

		<email-sender interface="js.email.EmailSender" type="SERVICE" />
		
		<wikipedia interface="com.kidscademy.www.Wikipedia" type="REMOTE" url="https:rest://en.wikipedia.org/api/rest_v1/" />
		<softschools interface="com.kidscademy.www.SoftSchools" type="REMOTE" url="http:xpath://www.softschools.com/" />
	</managed-classes>
	<observer period="60000" />
	<views>
		<repository path="${catalina.base}/webapps/kids-cademy/" files-pattern="*.htm" />
	</views>
	<captcha>
		<property name="captcha.repository.path" value="${captcha.repository.path}" />
		<property name="captcha.set.size" value="6" />
	</captcha>
	<emails>
		<property name="js.dev.mode" value="true" />
		<property name="js.repository.path" value="${catalina.base}/webapps/kids-cademy/email/" />
		<property name="js.files.pattern" value="*.htm" />
		<property name="js.template.engine" value="js.template.xhtml.XhtmlTemplateEngine" />
	</emails>
</app-descriptor>